
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

header {
    background-color: #243b55;
    color: white;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 8px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #dbeafe;
}

.hero h1 {
    font-size: 38px;
}

.button {
    display: inline-block;
    background-color: #2563eb;
    color: white;
    padding: 12px 18px;
    margin: 8px;
    text-decoration: none;
    border-radius: 5px;
}

.section {
    padding: 35px 8%;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 25px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #243b55;
    color: white;
    padding: 15px;
}